[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = {extras = ["standard"], version = "*"}
fastapi = "*"
httpx = "*"
python-dotenv = "*"
openai = "*"
pyyaml = "*"
pydantic-settings = "*"
typer = {extras = ["all"], version = "*"}
rich = "*"
questionary = "*"
seele-review = {file = ".", editable = true}
pyfiglet = "*"
tiktoken = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.9"
